<table>
  <tr>
    <td  style="padding: 5px" class="multiple-account-row">Multiple Accounts</td><td></td>
    <td class="no-account-row">No Accounts</td><td></td><td class="transaction-overnight">Overnight Transaction</td><td></td>
    <td class="transaction-over-half-balance">Transaction Over Half Balance</td>
  </tr>
</table>
&nbsp;
<p-dataTable [value]="customers" [loading]="loading" expandableRows="true" [rowStyleClass]="getCustomerRowColour">
  <p-header>Customers</p-header>
  <p-column expander="true" styleClass="col-icon"></p-column>
  <p-column field="FirstName" header="First Name"></p-column>
  <p-column field="LastName" header="Last Name">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{data.LastName}}</span>
    </ng-template>
  </p-column>
  <p-column header="Number Of Accounts">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{data.Accounts.length}}</span>
    </ng-template>
  </p-column>
  <p-column field="Balance" header="Total Balance">
    <ng-template let-col let-data="rowData" pTemplate="body">
      <span>{{data.Balance | currency:'USD':true:'1.2-2'}}</span>
    </ng-template>
  </p-column>
  <ng-template let-customer pTemplate="rowexpansion">
    <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
      <div class="ui-grid-row">
        <p-dataTable [value]="customer.Accounts" expandableRows="true">
          <p-header>Accounts</p-header>
          <p-column expander="true" styleClass="col-icon"></p-column>
          <p-column field="Name" header="Account Name"></p-column>
          <p-column field="Balance" header="Balance">
            <ng-template let-col let-data="rowData" pTemplate="body">
              <span>{{data.Balance | currency:'USD':true:'1.2-2'}}</span>
            </ng-template>
          </p-column>
          <ng-template let-account pTemplate="rowexpansion">
            <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:16px;padding:20px">
              <div class="ui-grid-row">
                <p-dataTable [value]="account.Transactions" expandableRows="true" sortField="Date" sortOrder="-1" [rowStyleClass]="getTransactionRowColour">
                  <p-header>Transactions</p-header>
                  <p-column field="Amount" header="Amount">
                    <ng-template let-col let-data="rowData" pTemplate="body">
                      <span>{{data.Amount | currency:'USD':true:'1.2-2'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="Code" header="Code"></p-column>
                  <p-column field="Balance" header="Balance">
                    <ng-template let-col let-data="rowData" pTemplate="body">
                      <span>{{data.Balance | currency:'USD':true:'1.2-2'}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="Date" header="Date" sortable="true">
                    <ng-template let-col let-data="rowData" pTemplate="body">
                      <span>{{data.Date | date: 'dd-MMM-yyyy HH:mm'}}</span>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </div>
            </div>
          </ng-template>
        </p-dataTable>
      </div>
    </div>
  </ng-template>
</p-dataTable>
